body {
    font-family: "Helvetica Neue", sans-serif;
    background: gray;
}

label {
    display: block;
}

header {
    height: 100px;
    background: red;
}

header h1 {
    color: white;
    font-family: "Lucida Handwriting", sans-serif;
}

.App {
    background: white;
    margin: 0 auto;
    padding: 20px;
    width: 800px;
}

.flex {
    display: flex;
}

.App * *:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.description {
}

/* style each component*/
.none {
    display: none;
}

.general {
    position: relative;
    color: #313C4E;
}

#designation {
    color: #1DBFAF;
}

#links svg{
    margin-right: 5px;
}

.general div {
    flex: 1;
}

.profile-pic {
    border-radius: 50%;
    overflow: hidden;
    height: 100px;
    width: 100px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

img {
    max-width: 100%;
    height: auto;
}

#links div{
    margin-left: 50px;
    padding: 10px;
}

.employment {
}

.education {
}

.projects {
}

.skills {
    margin-top: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: red;
}
