body {
    font-family: "Helvetica Neue", sans-serif;
}

header {
    height: 100px;
    background: red;
}

#root {
    border: 2px solid blue;
    margin: 20px auto;
    padding: 20px;
    width: 750px;
    height: 500px;
    overflow-y: scroll;
}

.flex {
    display: flex;
}

.App * *:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.description {
    background: darkcyan;
}

/* style each component*/
.general {
    background: #337be5;
    position: relative;
}

.general div {
    flex: 1;
}

.profile-pic {
    border-radius: 50%;
    overflow: hidden;
    height: 100px;
    width: 100px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

img {
    max-width: 100%;
    height: auto;
}

#links div{
    margin-left: 100px;
}

.employment {
    background: lightgray;
}

.education {
    background: antiquewhite;
}

.projects {
    background: beige;
}

.skills {
    background: azure;
}

footer {
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: red;
}
