.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    background: #337be5;
}

.employment {
    background: lightgray;
}

.education {
    background: antiquewhite;
}

.skills {
    background: azure;
}